{% extends "order/base.html" %} {% block content %}

<div class="container mt-4">
  <h1 style="font-size: 1.5rem;">Add New Order</h1>
  <div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% for field in form %}
        {% if field.errors %}
            <div class="alert alert-danger">{{ field.label_tag }} {{ field.errors }}</div>
        {% endif %}
    {% endfor %}
  </div>
  <form method="post" id="order-form">
    {% csrf_token %}
    <div class="row">
      <input type="hidden" name="dealer" value="{{user.pk}}" />
      <input type="hidden" name="total_amount" value="0" />
      <div class="col-6">
        <div class="form-group">
          <label for="customer_name">Bill No.</label>
          {{form.bill_number}}
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="order_date">Order Date</label>
          {{form.date}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="customer_name">Customer Name</label>
      {{form.customer_name}}
    </div>
    <hr />
    <table class="table table-striped" style="border: 2px solid gray">
      <thead>
        <tr>
          <th>Item</th>
          <th>500 GM</th>
          <th>1 KG</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>કાજુ કાત્રી</th>
          <td>{{form.kaju_katri_500}}</td>
          <td>{{form.kaju_katri_1000}}</td>
        </tr>
        <tr>
          <th>મગજ</th>
          <td>{{form.magaj_500}}</td>
          <td>{{form.magaj_1000}}</td>
        </tr>
        <tr>
          <th>પ્રિમયમ મોહનથાળ</th>
          <td>{{form.premium_mohanthal_500}}</td>
          <td>{{form.premium_mohanthal_1000}}</td>
        </tr>
        <tr>
          <th>સ્પે. ટોપરાપાક</th>
          <td>{{form.special_toparapak_500}}</td>
          <td>{{form.special_toparapak_1000}}</td>
        </tr>
        <tr>
          <th>બરફી</th>
          <td>{{form.barfi_500}}</td>
          <td>{{form.barfi_1000}}</td>
        </tr>
        <tr>
          <th>માવા મિક્ષ મીઠાઈ</th>
          <td>{{form.mava_mix_mithai_500}}</td>
          <td>{{form.mava_mix_mithai_1000}}</td>
        </tr>
        <tr>
          <th>ડ્રાય ફ્રુટ બીસ્કીટ</th>
          <td>{{form.dry_fruite_biscuite_500}}</td>
          <td>{{form.dry_fruite_biscuite_1000}}</td>
        </tr>
        <tr>
          <th>સુરતી ચવાણું</th>
          <td>{{form.surti_chavanu_500}}</td>
          <td>{{form.surti_chavanu_1000}}</td>
        </tr>
        <tr>
          <th>સોન પાપડી</th>
          <td>{{form.son_papdi_500}}</td>
          <td>{{form.son_papdi_1000}}</td>
          <td></td>
        </tr>
        <!-- Add more rows for other items -->
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary" id="submit-order">
      Add Order
    </button>
  </form>
</div>
{% endblock %}
