{% extends "order/base.html" %} {% block content %}
<div class="mt-4">
  <h1 style="font-size: 1.5rem;">Edit Order #{{ order.bill_number }}</h1>
  <div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %} {% for field in form %} {% if field.errors %}
    <div class="alert alert-danger">
      {{ field.label_tag }} {{ field.errors }}
    </div>
    {% endif %} {% endfor %}
  </div>
  <form method="post" id="order-form">
    {% csrf_token %}
    <div class="row">
      <input type="hidden" name="dealer" value="{{order.dealer.pk}}" />
      <div class="col-6">
        <div class="form-group">
          <label for="customer_name">Bill No.</label>
          <input type="text" name="bill_number" class="form-control" readonly value="{{order.bill_number}}" />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="order_date">Order Date</label>

          {{form.date}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="customer_name">Customer Name</label>
          {{form.customer_name}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="customer_name">Total Amount</label>
          <input type="text" name="total_amount" class="form-control" readonly value="{{order.total_amount}}" />
        </div>
      </div>
    </div>

    <hr />
    <table class="table table-striped" style="border: 2px solid gray">
      <thead>
        <tr>
          <th>Item</th>
          <th>1 KG</th>
          <th>500 GM</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>કાજુ કાત્રી</th>
          <td>{{form.kaju_katri_1000}}</td>
          <td>{{form.kaju_katri_500}}</td>
          <td><input type="text" class="form-control" style="border: 0; outline: 0; padding: 0; text-align: right;" readonly value="0" id="kaju_katri_total" /></td>
        </tr>
        <tr>
          <th>મગજ</th>
          <td>{{form.magaj_1000}}</td>
          <td>{{form.magaj_500}}</td>
          <td><input type="text" class="form-control" style="border: 0; outline: 0; padding: 0; text-align: right;" readonly value="0" id="magaj_total" /></td>
        </tr>
        <tr>
          <th>પ્રિમયમ મોહનથાળ</th>
          <td>{{form.premium_mohanthal_1000}}</td>
          <td>{{form.premium_mohanthal_500}}</td>
          <td><input type="text" class="form-control" style="border: 0; outline: 0; padding: 0; text-align: right;" readonly value="0" id="premium_mohanthal_total" /></td>
        </tr>
        <tr>
          <th>સ્પે. ટોપરાપાક</th>
          <td>{{form.special_toparapak_1000}}</td>
          <td>{{form.special_toparapak_500}}</td>
          <td><input type="text" class="form-control" style="border: 0; outline: 0; padding: 0; text-align: right;" readonly value="0" id="special_toparapak_total" /></td>
        </tr>
        <tr>
          <th>બરફી</th>
          <td>{{form.barfi_1000}}</td>
          <td>{{form.barfi_500}}</td>
          <td><input type="text" class="form-control" style="border: 0; outline: 0; padding: 0; text-align: right;" readonly value="0" id="barfi_total" /></td>
        </tr>
        <tr>
          <th>માવા મિક્ષ મીઠાઈ</th>
          <td>{{form.mava_mix_mithai_1000}}</td>
          <td>{{form.mava_mix_mithai_500}}</td>
          <td><input type="text" class="form-control" style="border: 0; outline: 0; padding: 0; text-align: right;" readonly value="0" id="mava_mix_mithai_total" /></td>
        </tr>
        <tr>
          <th>ડ્રાય ફ્રુટ બીસ્કીટ</th>
          <td>{{form.dry_fruite_biscuite_1000}}</td>
          <td>{{form.dry_fruite_biscuite_500}}</td>
          <td><input type="text" class="form-control" style="border: 0; outline: 0; padding: 0; text-align: right;" readonly value="0" id="dry_fruite_biscuite_total" /></td>
        </tr>
        <tr>
          <th>સુરતી ચવાણું</th>
          <td>{{form.surti_chavanu_1000}}</td>
          <td>{{form.surti_chavanu_500}}</td>
          <td><input type="text" class="form-control" style="border: 0; outline: 0; padding: 0; text-align: right;" readonly value="0" id="surti_chavanu_total" /></td>
        </tr>
        <tr>
          <th>સોન પાપડી</th>
          <td>{{form.son_papdi_1000}}</td>
          <td>{{form.son_papdi_500}}</td>
          <td><input type="text" class="form-control" style="border: 0; outline: 0; padding: 0; text-align: right;" readonly value="0" id="son_papdi_total" /></td>
        </tr>
        <!-- Add more rows for other items -->
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td style="text-align: right; font-weight: bolder; vertical-align: middle;">Total: </td>
        <td><input type="text" class="form-control" style="border: 0; outline: 0; padding: 0; text-align: right;" readonly value="0" id="bill_total" /></td>
      </tfoot>
    </table>
    <div class="w-100">
      <button type="submit" class="btn btn-lg btn-primary" id="submit-order">
        Save
      </button>
    </div>
  </form>
</div>
<script>
  let priceList = [[680, 340], [370, 190], [350, 180], [400, 200], [400, 200], [400, 200], [400, 200], [200, 100], [340, 170]]

  let fields = [["kaju_katri_1000", "kaju_katri_500", "kaju_katri_total"],
  ["magaj_1000", "magaj_500", "magaj_total"],
  ["premium_mohanthal_1000", "premium_mohanthal_500", "premium_mohanthal_total"],
  ["special_toparapak_1000", "special_toparapak_500", "special_toparapak_total"],
  ["barfi_1000", "barfi_500", "barfi_total"],
  ["mava_mix_mithai_1000", "mava_mix_mithai_500", "mava_mix_mithai_total"],
  ["dry_fruite_biscuite_1000", "dry_fruite_biscuite_500", "dry_fruite_biscuite_total"],
  ["surti_chavanu_1000", "surti_chavanu_500", "surti_chavanu_total"],
  ["son_papdi_1000", "son_papdi_500", "son_papdi_total"]];

  let initTotal = 0
  for (let i = 0; i < fields.length; i++) {
    let oneKg = document.getElementById(fields[i][0]);
    let fiveHundredGm = document.getElementById(fields[i][1]);
    let total = document.getElementById(fields[i][2]);
    let oneKgValue = parseInt(oneKg.value);
    let fiveHundredGmValue = parseInt(fiveHundredGm.value);
    let totalValue = oneKgValue * priceList[i][0] + fiveHundredGmValue * priceList[i][1];
    total.value = totalValue | 0;
    initTotal += totalValue;
  }
  document.getElementById("bill_total").value = initTotal

  fields.forEach((item, index) => {
    let oneKg = document.getElementById(item[0]);
    let fiveHundredGm = document.getElementById(item[1]);
    let total = document.getElementById(item[2]);
    let billTotal = document.getElementById("bill_total");

    oneKg.addEventListener("input", (e) => {
      let oneKgValue = parseInt(oneKg.value);
      let fiveHundredGmValue = parseInt(fiveHundredGm.value);
      let totalValue = oneKgValue * priceList[index][0] + fiveHundredGmValue * priceList[index][1];
      total.value = totalValue | 0;

      let sum = 0
      fields.forEach((item, index) => {
        let itemTotal = document.getElementById(item[2]);
        let itemTotalValue = parseInt(itemTotal.value);
        sum += itemTotalValue;
      })
      billTotal.value = sum;
    });
    fiveHundredGm.addEventListener("input", (e) => {
      let oneKgValue = parseInt(oneKg.value);
      let fiveHundredGmValue = parseInt(fiveHundredGm.value);
      let totalValue = oneKgValue * priceList[index][0] + fiveHundredGmValue * priceList[index][1];
      total.value = totalValue | 0;

      let sum = 0
      fields.forEach((item, index) => {
        let itemTotal = document.getElementById(item[2]);
        let itemTotalValue = parseInt(itemTotal.value);
        sum += itemTotalValue;
      })
      billTotal.value = sum;
    });
  })

</script>

{% endblock %}